.host-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: lavender;
}

.host-card {
    background: #ffffff;
    border-radius: 16px;
    border: black solid 1px;
    overflow: hidden;
    cursor: pointer;
    padding-bottom: 10px;
}

.host-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 16px;
}